<link href="/css/Admin_Header.css" rel="stylesheet" />


<div class="sidebar">
    <div class="profile_info">
        <img src="1.png" class="profile_image" alt="">
        <h4>Jessica</h4>
    </div>
    <!-- <li class="item"> <a href="#" class="menu-btn"><i class="fas fa-desktop"></i><span>Dashboard</span></a></li>
    <li class="item">
      <a href="#">
        <i class="fas fa-cogs"></i><span>Profile<i class="fas fa-chevron-down drop-down"></i></span>
      </a>
      <div class="sub-menu">
          <a href="#"><i class="fas fa-image"></i><span>Picture</span></a>
          <a href="#"><i class="fas fa-address-card"></i><span>Info</span></a>
      </div>
    </li>
    <li class="item"> <a href="#"><i class="fas fa-table"></i><span>Tables</span></a></li>
    <li class="item"><a href="#"><i class="fas fa-th"></i><span>Forms</span></a></li>
    <li class="item"><a href="#"><i class="fas fa-info-circle"></i><span>About</span></a></li>
    <li class="item"><a href="#"><i class="fas fa-sliders-h"></i><span>Settings</span></a></li> -->
    <li class="item">
        <a href="/Admin/Admin/Check" class="menu-btn">
            <i class="fas fa-desktop"></i><span>Dashboard</span>
        </a>
    </li>
    <li class="item" id="profile">
        <a href="#profile" class="menu-btn">
            <!-- ok cai ngoai cung la de href=#
              2 cai duoi collapse
              thi truyen vao linh controller thoi
              vi du
              <a href="/Food/AddFood"><i class="fas fa-image"></i><span>Add Food</span></a>
              vthoi
              phan do la boi den len khi thuc hien
              o day ko can cung dc
              vi minh bam xong cai collapse kia no dong lai roi drop down chu
              cai nay m chinh trong sidebar
              dc ch
              href kia
              con sidebar nay partial vao moi cai view cua action nho add file js phia duoi cung cua moi view
              hello?
              sao noi nho qua
              phan nao
              phan do pk
              thi sao

              thi chia ra bth thoi co gi dau
              may hoi design ah
              pk?
              design thi tu thiet ke chu sao t chi dc
            -->
            <i class="fas fa-user-circle"></i><span>Menu <i class="fas fa-chevron-down drop-down"></i></span>
        </a>
        <div class="sub-menu">
            <a href="/Admin/Admin/Menu_Add"><i class="fas fa-image"></i><span>Add Food</span></a>
            <a href="/Admin/Admin/WatchFood"><i class="fas fa-address-card"></i><span>Watch Food</span></a>
        </div>
    </li>
    <li class="item" id="messages">
        <a href="#" class="menu-btn">
            <i class="fas fa-envelope"></i><span>Category <i class="fas fa-chevron-down drop-down"></i></span>
        </a>
        <div class="sub-menu">
            <a href="#"><i class="fas fa-envelope"></i><span>Add Category</span></a>
            <a href="#"><i class="fas fa-envelope-square"></i><span>Watch Category</span></a>
            <a href="#"><i class="fas fa-exclamation-circle"></i><span>Spam</span></a>
        </div>
    </li>
    <li class="item" id="settings">
        <a href="#settings" class="menu-btn">
            <i class="fas fa-cog"></i><span>Settings <i class="fas fa-chevron-down drop-down"></i></span>
        </a>
        <div class="sub-menu">
            <a href="#"><i class="fas fa-lock"></i><span>Password</span></a>
            <a href="#"><i class="fas fa-language"></i><span>Language</span></a>
        </div>
    </li>
    <li class="item">
        <a href="#" class="menu-btn">
            <i class="fas fa-info-circle"></i><span>About</span>
        </a>
    </li>

</div>