@{ Layout = "navFooter";}

<link rel="stylesheet" href="~/css/order.css">
<div class="container" >
    
        <form class="form-container">
            <p><center>ORDER DETAIL</center></p>
            <div class="form-group">
                <table border="1">
                    <tr>
                        <th>Tên món</th>
                        <th>Giá</th>
                        <th>Số lượng</th>
                        <th>Thay đổi</th>
                    </tr>
                </table>
                <table border="1">
                    <tr>
                        <th style="width: 390px; text-align:center">Tổng giá</th>
                        <th style="width: 390px;">
                            <output type="number"> </output>
                        </th>
                    </tr>
                </table>
            </div>
            <div class="form-group">
                <center><input style="align-content:end" type="submit" value="Thanh toán" class="btn btn-primary btn-lg" /></center>
            </div>
        </form>
    
</div>