@{
    Layout = "_Layout";
}

@model IEnumerable<WebsiteF4.Models.Menu>

<link rel="stylesheet" href="~/css/css.css" />
<!--Link nav-->
<link rel="stylesheet" href="~/css/stylet.css">
<link rel="stylesheet" href="~/css/style.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>


<!-- Thanh tìm kiếm -->
<div class="container h-100 mt-3 ">
    <div class="d-flex justify-content-center h-100 ">
        <div class="searchbar ">
            <input class="search_input " type="text" name=" " placeholder="Search... ">
            <a href="# " class="search_icon "><i class="fas fa-search "></i></a>
        </div>
    </div>
</div>
<br>
<br>
<!-- Thanh category -->
<div class="container ">
    <div class="row ">
        <div class="col-xs-12 ">
            <nav>
                <div class="nav nav-tabs nav-fill " id="nav-tab " role="tablist">
                    <a class="nav-item nav-link active " id="nav-home-tab " data-bs-toggle="tab " href="/Menu/Menu_FastFood " role="tab" aria-controls="nav-home " aria-selected="true">
                        <div><img src="~/content/icon/006-fast food.png" alt=" " class=" " height="50 "></div>
                    </a>
                    <a class="nav-item nav-link " id="nav-profile-tab " data-bs-toggle="tab " href="/Menu/Menu_IceCream " role="tab" aria-controls="nav-profile " aria-selected="false">
                        <div><img src="~/content/icon/007-ice cream.png " alt=" " height="50 "></div>
                    </a>
                    <a class="nav-item nav-link " id="nav-contact-tab " data-bs-toggle="tab " href="/Menu/Menu_Fruit " role="tab" aria-controls="nav-contact " aria-selected="false">
                        <div><img src="~/content/icon/046-avocado.png" alt=" " height="50 "></div>
                    </a>
                    <a class="nav-item nav-link " id="nav-about-tab " data-bs-toggle="tab " href="/Menu/Menu_Soda" role="tab" aria-controls="nav-about " aria-selected="false">
                        <div><img src="~/content/icon/015-martini.png " alt=" " height="50 "></div>
                    </a>
                </div>
            </nav>
            <!-- Liệt kê sản phẩm theo mục -->
            <div class="tab-content py-3 px-3 px-sm-0 " id="nav-tabContent ">
                <div class="tab-pane fade show active " id="nav-mon-1 " role="tabpanel" aria-labelledby="nav-home-tab ">
                    <!-- List sản phẩm -->
                    <div class="container ">
                        <div class="row ">
                            <!-- hinh 1 -->
                            @foreach (var item in Model)
                            {
                                <div class="col-md-3 col-sm-6 ">
                                    <div class="product-grid3 ">
                                        <div class="product-image3 ">
                                            <a href="# ">
                                                <img class="pic-1 " src="@item.MENU_IMG">
                                                <img class="pic-2 " src="@item.MENU_IMG">
                                                <ul class="social ">
                                                    <li><a href="# "><i class="fas fa-cart-plus"></i></a></li>
                                                    <li><a href="# "><i class="fas fa-info-circle"></i></a></li>
                                                </ul>
                                                <span class="product-new-label ">New</span>
                                        </div>
                                        <div class="product-content ">
                                            <h3 class="title "><a href="# ">@item.MENU_NAME</a></h3>
                                            <div class="price ">
                                                @item.MENU_PRICE VNĐ
                                            </div>
                                            <ul class="rating ">
                                                <li class="fas fa-star "></li>
                                                <li class="fas fa-star "></li>
                                                <li class="fas fa-star "></li>
                                                <li class="fas fa-star disable "></li>
                                                <li class="fas fa-star disable "></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            }


                            <!-- hinh 1.// -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
    </div>
 </div>

      