.main-content {
    padding: 40px;
    margin-top: 0;
    padding: 0;
    padding-top: 44px;
    height: 100%;
    /* overflow: scroll; */
}

    .main-content .title {
        background-color: #eef1f7;
        border-bottom: 1px solid #b8bec9;
        padding: 10px 20px;
        font-weight: 700;
        color: #333;
        font-size: 18px;
    }
/* set element styles to fit tablet and higher(desktop) */
@media screen and (min-width: 600px) {

    .main-content {
        margin-left: 70px;
    }
}
/* set element styles for desktop */
@media screen and (min-width: 800px) {

    .main-content {
        margin-left: 260px;
    }
}

/* main box container */
.main {
    display: flex;
    flex-flow: row wrap;
}

.widget {
    flex-basis: 300px;
    flex-grow: 10;
    height: 300px;
    margin: 15px;
    border-radius: 6px;
    background-color: #ffffff;
    position: relative;
}

    .widget .title {
        background-color: #eef1f7;
        border-bottom: 1px solid #dfe4ec;
        padding: 10px;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        color: #617085;
        font-weight: 600;
    }

.content-main {
    display: flex;
    justify-content: space-between;
}

    .content-main .content-left {
        font-size: 100px;
        margin: 0px 10px;
    }

    .content-main .content-right {
        display: flex;
        flex-direction: column;
    }

    /* .content-main .content-right .number{
    font-size: 40px;
    display: flex;
    position: relative;
    top:45px
} */

    .content-main .content-right {
        margin: 0px 10px;
        position: relative;
        top: 35px
    }
