.navigation-bar {
    background-color: #ABBEAB;
}

h4 {
    font-family: Comic Sans MS, cursive, sans-serif;
    font-weight: 600;
}

    h4 span {
        color: antiquewhite;
    }

.btn {
    width: 130px;
    height: 50px;
    background-color: #D8E1D8;
    border-color: #909971;
    border-width: 3px;
    border-radius: 50px;
}

body {
    padding: 0px;
    margin: 0px;
}

/*.bar li a {
    background-color: #C6CCC3;
    border: 1px solid #A18572;
    border-radius: 25px;
    box-sizing: border-box;
}*/

/*.bar + div a {
    background-color: #DD92BC;
    border: 1px solid #A18572;
    border-radius: 25px;
    box-sizing: border-box;
}*/

.navbar-expand-md {
    padding: 0;
    margin: 0;
}

.carousel-caption {
    position: absolute;
    top: 35%;
    right: 80%;
    min-width: 100vh;
}

/*.carousel-caption h1 {
    font-size: 70px;
    font-weight: 600;
    font-family: 'Cormorant', serif;
}*/
