<link rel="stylesheet" href="/css/Calories.css">

<div class="form-container">

    <table border="0" class="form-inline">
        <tr>
            <th colspan="2"><p>Chúng mình sẽ giúp các bạn kiểm soát lượng Calories mà các bạn cần nạp!</p> </th>
        </tr>
        
        <tr>
            <th>
                <label>Số cân nặng </label>
            </th>
            <th>
                <input type="number" class="form-control " placeholder="Nhập cân nặng">
            </th>
        </tr>
        <tr>
            <th>
                <label> Chiều cao </label>
            </th>
            <th>
                <input type="number" class="form-control" placeholder="Nhập chiều cao">
            </th>
        </tr>
        <tr>
            <td>
                <label>Tuổi</label>
            </td>
            <td>
                <input type="number" class="form-control" placeholder="Nhập tuổi">
            </td>
        </tr>
        <tr>
            <td>
                <label>Giới tính</label>
            </td>
            <td>
                <select name="dropdown">
                    <option value="nam" selected>Nam</option>
                    <option value="nu">Nữ</option>
                </select>
            </td>
        </tr>
        <tr>
            <th>
                <label>Số lần tập luyện thể dục</label>
            </th>
            <th style="font-family: 'Dancing Script', cursive; font-size: 20px;">
                <p><input name="tapluyen" type="radio" /> Ít vận động</p>
                <p><input name="tapluyen" type="radio" /> Vận động nhẹ (1-3 lần/tuần)</p>
                <p><input name="tapluyen" type="radio" /> Vận động vừa (3-5 lần/tuần)</p>
                <p><input name="tapluyen" type="radio" /> Vận động nặng (6-7 lần/tuần)</p>
                <p><input name="tapluyen" type="radio" /> Vận động rất nặng (1-2 lần/ngày)</p>
            </th>
        </tr>
        <tr>
            <td colspan="2">
                <div class="form-group">
                    <input type="submit" value="Login" class="btn btn-primary btn-lg" />
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <label>Số Calories</label>
            </td>
            <td>
                <output type="number"> </output>
            </td>
        </tr>
    </table>
</div>